{% extends 'base.html.twig' %}

{% block title %}Ettitude
{% endblock %}

{% block body %}
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		<script src="https://kit.fontawesome.com/9e0a8f2f81.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width">

	{% endblock %}

	<div id="app"></div>

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
{% endblock %}
