input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
}
input[type="checkbox"] {
  border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked {
  background: black;
  margin: 0px;
  position: relative;
}
