* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include Raleway;
}

body {
  overflow-x: hidden;
}

main {
  padding-top: 12vh;
  min-height: 83.29vh;

  @include s-d {
    padding-top: 6vh;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}
