.article {
  width: 32%;
  margin-bottom: 20px;
  @include OpenSans;
  margin-right: 2%;

  @include m-u {
    margin-bottom: 30px;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  @include m-d {
    width: 49%;

    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }

  .img-container {
    width: 100%;

    @include m-u {
      height: 400px !important;
    }

    @include m-d {
      height: 350px !important;
    }

    @include s-d {
      height: 300px !important;
    }

    @include xs-d {
      height: 200px !important;
    }

    img {
      @include img-cover;
    }
  }

  .article-name {
    margin: 15px 0px 15px 0px;
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;

    @include s-u {
      margin: 0;
      margin-top: 15px;
    }

    @include s-d {
      margin-bottom: 0;
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;

    @include m-d {
      margin-top: 10px;
    }

    @include xs-d {
      padding: 0;
      flex-wrap: wrap;
      justify-content: start;
    }

    .article-price {
      @include xs-d {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .article-colors {
      display: flex;

      .color {
        margin-right: 10px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        cursor: pointer;
        &:last-child {
          margin-right: 0px;
        }
      }

      .color-pink {
        background-color: #ffdad2;
      }
      .color-blue {
        background-color: #272d79;
      }
      .color-green {
        background-color: $green;
      }
      .color-grey {
        background-color: grey;
      }
      .color-black {
        background-color: black;
      }
      .color-white {
        background-color: white;
        border: solid 1px rgba($color: grey, $alpha: 0.8);
      }
    }
  }
}
