.footer {
  background-color: $black-light;

  min-height: 050px;
  font-size: $sub-size + 2;
  padding: 10px;

  @include m-u {
    height: 100px;
  }

  .flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    @include m-d {
      flex-wrap: wrap;
    }

    .col {
      display: flex;
      overflow: hidden;

      @include m-u {
        margin-right: 50px;
        &:last-child {
          margin-right: 0px;
        }
      }

      @include m-d {
        flex-wrap: wrap;
        justify-content: center;
        white-space: nowrap;
        margin: 5px 0px;
        width: 100%;
      }

      div {
        margin-bottom: 10px;

        @include m-u {
          margin-right: 10px;
        }

        @include m-d {
          width: 100%;
          text-align: center;
        }
      }

      .fab {
        font-size: 30px;
        cursor: pointer;

        padding: 8px;
      }
    }
  }
}
