.shop-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: 50px 0px;
  justify-content: center;

  .left {
    height: 100vh;
    width: 15%;
  }

  .right {
    height: 100%;
    width: 85%;

    @include m-d {
      width: 100%;
    }
    .img-container {
      height: 400px;
      width: 100%;

      img {
        @include img-cover;
      }
    }

    .articles-collections {
      margin: 20px 10px 0px 10px;
      display: flex;
      flex-wrap: wrap;

      @include m-u {
        margin: 0;
        margin-top: 20px;
      }
    }
  }
}
